vendor(prop, args)
  for vendor in webkit moz ms
    -{vendor}-{prop} args
  {prop} args

vendorValue(prop, args)
  {prop} -webkit- + args
  {prop} -moz- + args
  {prop} -ms- + args
  {prop} args

vendorNoMS(prop, args)
  for vendor in webkit moz
    -{vendor}-{prop} args
  {prop} args

vendorValueNoMS(prop, args)
  {prop} -webkit- + args
  {prop} -moz- + args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

box-sizing()
  vendorNoMS('box-sizing', arguments)

background-size()
  vendor('background-size', arguments)

text-shadow()
  vendor('text-shadow', arguments)

backface-visibility()
  vendor('backface-visibility', arguments)

perspective()
  vendor('perspective', arguments)

/* ==================== ANIMATION =================== */
animation()
  vendor('animation', arguments)

animation-name()
  vendor('animation-name', arguments)

animation-duration()
  vendor('animation-duration', arguments)

animation-timing-function()
  vendor('animation-timing-function', arguments)

animation-delay()
  vendor('animation-delay', arguments)

animation-iteration-count()
  vendor('animation-iteration-count', arguments)

animation-direction()
  vendor('animation-direction', arguments)

animation-fill-mode()
  vendor('animation-fill-mode', arguments)

animation-play-state()
  vendor('animation-play-state', arguments)

animation-fill-mode()
  vendor('animation-fill-mode', arguments)

/* ====================== FLEXBOX ====================== */
display()
  if arguments is flex
    display -webkit-box
    display -webkit-flex
    display -moz-box
    display -ms-flexbox
  if arguments is inline-flex
    display -webkit-inline-box
    display -webkit-inline-flex
    display -moz-inline-flex
    display -ms-inline-flexfox
  display arguments

flex()
  bf = arguments
  if typeof(bf) == 'list'
    bf = nth(bf, 1)
  -webkit-box-flex bf
  -moz-box-flex bf
  vendor('flex', arguments)

flex-direction()
  if arguments is row-reverse or arguments is column-reverse
    -webkit-box-direction reverse
  else
    -webkit-box-direction normal
  if arguments is column-reverse or arguments is column
    -webkit-box-orient vertical
  else
    -webkit-box-orient horizontal
  vendor('flex-direction', arguments)

flex-wrap()
  if arguments is nowrap
    -ms-flex-wrap none
  else
    -ms-flex-wrap arguments
  vendorNoMS('flex-wrap', arguments)

flex-flow()
  vendor('flex-flow', arguments)

flex-grow()
  -webkit-box-flex arguments
  -ms-flex-positive arguments
  vendorNoMS('flex-grow', arguments)

flex-shrink()
  -ms-flex-negative arguments
  vendorNoMS('flex-shrink', arguments)

flex-basis()
  -ms-flex-preferred-size arguments
  vendorNoMS('flex-basis', arguments)

justify-content()
  if arguments is space-around
    -ms-flex-pack distribute
  else if arguments is space-between
    -webkit-box-back justify
    -ms-flex-pack justify
  else if arguments is flex-start
    -webkit-box-pack start
    -ms-flex-pack start
  else if arguments is flex-end
    -webkit-box-pack end
    -ms-flex-pack end
  else
    -webkit-box-pack arguments
    -ms-flex-pack arguments
  vendorNoMS('justify-content', arguments)

align-content()
  if arguments is flex-start
    -ms-flex-line-pack start
  else if arguments is flex-end
    -ms-flex-line-pack end
  else
    -ms-flex-line-pack arguments
  vendorNoMS('align-content', arguments)

align-items()
  if arguments is flex-start
    -webkit-box-align start
    -ms-flex-align start
  else if arguments is flex-end
    -webkit-box-align end
    -ms-flex-align end
  else
    -webkit-box-align arguments
    -ms-flex-align arguments
  vendorNoMS('align-items', arguments)

order()
  -webkit-box-ordinal-group (arguments + 1)
  -ms-flex-order arguments
  vendorNoMS('order', arguments)

align-self()
  if arguments is flex-start
    -ms-flex-item-align start
  else if arguments is flex-end
    -ms-flex-item-align end
  else
    -ms-flex-item-align arguments
  vendorNoMS('align-self', arguments)

/* ====================== TRANSITIONS ====================== */
transition()
  vendorNoMS('transition', arguments)

transition-delay()
  vendorNoMS('transition-delay', arguments)

transition-property()
  vendorNoMS('transition-property', arguments)

transition-duration()
  vendorNoMS('transition-duration', arguments)

transition-timing-function()
  vendorNoMS('transition-timing-function', arguments)

transform()
  vendor('transform', arguments)

transform-origin()
  vendor('transform-origin', arguments)

transform-style()
  vendor('transform-style', arguments)

/* ====================== COLUMNS ====================== */
columns()
  vendorNoMS('columns', arguments)

column-count()
  vendorNoMS('column-count', arguments)

column-gap()
  vendorNoMS('column-gap', arguments)

column-rule()
  vendorNoMS('column-rule', arguments)

column-rule-color()
  vendorNoMS('column-rule-color', arguments)

column-rule-style()
  vendorNoMS('column-rule-style', arguments)

column-rule-width()
  vendorNoMS('column-rule-width', arguments)

column-span()
  vendorNoMS('column-span', arguments)

column-width()
  vendorNoMS('column-width', arguments)
